@mixin h-centered {
  display: flex;
  align-items: center;
}

@mixin v-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  padding: 0px 20px 0px 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-left: calc(50vw - 375px);
    margin-right: calc(50vw - 375px);
  }
}

@media only screen and (min-width: 992px) {
  .container {
    margin-left: calc(50vw - 485px);
    margin-right: calc(50vw - 485px);
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin-left: calc(50vw - 585px);
    margin-right: calc(50vw - 585px);
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    margin-left: calc(50vw - 650px);
    margin-right: calc(50vw - 650px);
  }
}
