@import '../../styles/common-styles.scss';
@import '../../styles/responsive.scss';

// Banner style
#banner {
  .banner-container {
    @include grid-cols-divided(2, 1fr);
  }

  .banner-description {
    @include my-auto;
  }

  .banner-title {
    @include title-style(46px, black, bold);
    margin-bottom: 50px;
  }

  .banner-text {
    font-size: 18px;
  }

  .invest-btn {
    @include button-style(#66bb6a, white, #66bb6a);
    padding: 10px 20px 10px 20px;
  }
}

// Opportunity style

#opportunity {
  .oppopportunity-container {
    padding: 0px 60px 0px 60px;
    @include v-centered(center);
  }

  .oppopportunity-title {
    @include title-style(46px, black, bold);
    text-align: center;
    margin-bottom: 30px;
  }

  .opp-card-container {
    // @include h-centered(center);
    padding-top: 40px;
    @include grid-cols-divided(3, 1fr);
    gap: 20px;
  }

  .opp-card {
    padding: 30px;
    border-radius: 10px;
    background-color: whitesmoke;

    .opp-card-title {
      padding-top: 15px;
      @include title-style(18px, black, bold);
    }
  }

  .opp-card:hover {
    background-color: #66bb6a;

    .opp-card-title {
      @include title-style(18px, white, bold);
    }

    .opp-card-text {
      color: white;
    }
  }
}

// convenience style

#convenience {
  padding: 50px 70px 50px 70px;
  .convenience-title {
    @include title-style(32px, black, bold);
  }
  .convenience-card-container {
    margin-top: 50px;
    @include grid-cols-divided(2, 1fr);
  }

  .convenience-card {
    position: relative;

    .convenience-info {
      position: absolute;
      top: 0;
      padding: 30px;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;

      .con-h-title {
        color: #66bb6a;
      }

      .con-title {
        @include title-style(22px, white, bold);
        width: 200px;
      }
      .con-s-des {
        width: 350px;
        color: #e2efd2;
      }
      .con-button {
        @include button-style(white, #66bb6a, white);
        margin-top: 20px;
        border-radius: 2px;
        padding: 8px 20px 8px 20px;
      }
    }
  }
}

// how-To-Work style

#howToWork {
  position: relative;

  .how-to-work-info {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    // width: 100%;

    .how-work-title {
      @include title-style(30px, white, bold);
      text-align: center;
    }
    .how-work-des {
      color: white;
      font-size: 18px;
    }
    .how-work-stepper {
      padding: 30px 30px;
      @include h-centered(center);

      .step-item {
        border: 1px solid white;
        padding: 15px 18px;
        border-radius: 50%;
        color: white;
      }
      .step-connector {
        content: '';

        // position: relative;
        // top: 1.5rem;
        // left: 50%;
        width: 120px;
        height: 1px;
        background-color: white;
        // order: -1;
      }
    }

    .how-work-stepper-des {
      @include grid-cols-divided(2, 1fr);
      color: white;
      text-align: start;

      .stepper-des-title {
        @include title-style(20px, white, bold);
        width: 300px;
      }
      .stepper-des-description {
        font-size: 16px;
        margin: 0px;
      }
    }
  }
}
