@import '../../styles/common-styles.scss';
@import '../../styles/responsive.scss';

nav { 
  
  ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px;

    @include h-centered (space-between);
    gap: 6rem;


    .desktop-menubar {
      display: none;
      width: 100%;

      .menu-container {
        width: 100%;
        @include h-centered (space-between);
        gap: 1rem;

        .nav-item {
          @include h-centered (inherit);
          gap: 1rem;
          z-index: 100;
        }
      }
    }
  }

  

  .signup-button {
    @include button-style(transparent, white,#f1f8e9);
  }
  .responsive-menubar-button {
    display: block;
    z-index: 100;
  }

  .responsive-navbar {
    z-index: 100;
    @include v-centered (center);
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    list-style-type: none;
    background-color: azure;
    padding: 10px;

    .res-signup-button{
      @include button-style(transparent,red,red)

    }
    
  }
}
